1. Obtain the 200 top-ranking universities in www.topuniversities.com 
In particular, extract the following fields for each university: number of faculty members 
(international and total) and number of students (international and total). 
Some information is not available in the main list and you have to find them in the 
[details page](https://www.topuniversities.com/universities/ecole-polytechnique-fédérale-de-lausanne-epfl).

Store the resulting dataset in a pandas DataFrame and answer the following questions:
- Which are the best universities in term of: (a) ratio between faculty members and students, (b) ratio of international students?
- Answer the previous question aggregating the data by (c) country and (d) region.

Plot your data using bar charts and describe briefly what you observed.

In [69]:
# Import libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd
import string

In [5]:
url="https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051_indicators.txt"
r=requests.get(url)

In [16]:
jr=r.json()

In [58]:
print(jr['data'][0].keys())
'''
for k in jr['data'][0].keys():
    #print(jr['data'][0][k])
    name = BeautifulSoup(jr['data'][0][k],'html.parser')
    print(k+'  '+name.text)
'''
#jr['data'][0]

region  North America
location  United States
overall_rank  1
overall_rank_dis  1
uni  Massachusetts Institute of Technology (MIT)
overall  100
stars  6
2971069  100
2971069_rank_d  6
2971070  99.9
2971070_rank_d  8
2971071  100
2971071_rank_d  4
2971072  100
2971072_rank_d  14
2971073  100
2971073_rank_d  36
2971074  96.1
2971074_rank_d  70

In [41]:
data=jr['data'][0:200]

In [68]:
unis=[]
for d in data:
    name = BeautifulSoup(d['uni'],'html.parser')
    rank = BeautifulSoup(d['overall_rank'],'html.parser')
    country = BeautifulSoup(d['location'],'html.parser')
    region = BeautifulSoup(d['region'],'html.parser')
    unis.append({'Name':name.div.text,'Rank':rank,'Country':country,'Region':region})

df=pd.DataFrame(unis)
df=df[['Name','Rank','Country','Region']]
df

,Name,Rank,Country,Region
0,Massachusetts Institute of Technology (MIT),1,United States,North America
1,Stanford University,2,United States,North America
2,Harvard University,3,United States,North America
3,California Institute of Technology (Caltech),4,United States,North America
4,University of Cambridge,5,United Kingdom,Europe
5,University of Oxford,6,United Kingdom,Europe
6,UCL (University College London),7,United Kingdom,Europe
7,Imperial College London,8,United Kingdom,Europe
8,University of Chicago,9,United States,North America
9,ETH Zurich - Swiss Federal Institute of Techno...,10,Switzerland,Europe
10,"Nanyang Technological University, Singapore (NTU)",11,Singapore,Asia
11,Ecole Polytechnique Fédérale de Lausanne (EPFL),12,Switzerland,Europe
12,Princeton University,13,United States,North America
13,Cornell University,14,United States,North America
14,National University of Singapore (NUS),15,Singapore,Asia
15,Yale University,16,United States,North America
16,Johns Hopkins University,17,United States,North America
17,Columbia University,18,United States,North America
18,University of Pennsylvania,19,United States,North America
19,The Australian National University,20,Australia,Oceania
20,Duke University,21,United States,North America
21,University of Michigan,21,United States,North America
22,King's College London,23,United Kingdom,Europe
23,The University of Edinburgh,23,United Kingdom,Europe
24,Tsinghua University,25,China,Asia
25,The University of Hong Kong,26,Hong Kong,Asia
26,"University of California, Berkeley (UCB)",27,United States,North America
27,Northwestern University,28,United States,North America
28,The University of Tokyo,28,Japan,Asia
29,The Hong Kong University of Science and Techno...,30,Hong Kong,Asia
...,...,...,...,...
170,Albert-Ludwigs-Universitaet Freiburg,171,Germany,Europe
171,Indian Institute of Technology Delhi (IITD),172,India,Asia
172,King Fahd University of Petroleum & Minerals,173,Saudi Arabia,Asia
173,University of Liverpool,173,United Kingdom,Europe
174,University of Virginia,173,United States,North America
175,University of Technology Sydney,176,Australia,Oceania
176,CentraleSupélec,177,France,Europe
177,University of Florida,178,United States,North America
178,Indian Institute of Technology Bombay (IITB),179,India,Asia
179,University of Twente,179,Netherlands,Europe
180,University of Göttingen,181,Germany,Europe
181,Vienna University of Technology,182,Austria,Europe
182,Universidade Estadual de Campinas (Unicamp),182,Brazil,Latin America
183,University of Colorado Boulder,182,United States,North America
184,Vrije Universiteit Brussel (VUB),182,Belgium,Europe
185,University of Rochester,186,United States,North America
186,Universidad Autónoma de Madrid,187,Spain,Europe
187,Alma Mater Studiorum - University of Bologna,188,Italy,Europe
188,University of Reading,188,United Kingdom,Europe
189,Indian Institute of Science (IISc) Bangalore,190,India,Asia
190,University of Cape Town,191,South Africa,Africa
191,Keio University,192,Japan,Asia
192,Scuola Normale Superiore di Pisa,192,Italy,Europe
193,Scuola Superiore Sant'Anna Pisa di Studi Unive...,192,Italy,Europe
194,Stockholm University,195,Sweden,Europe
195,Technische Universität Dresden,281,Germany,Europe
196,Texas A&M University,195,United States,North America
197,Universitat Autònoma de Barcelona,195,Spain,Europe
198,Instituto Tecnológico y de Estudios Superiores...,199,Mexico,Latin America
199,Maastricht University,200,Netherlands,Europe

In [95]:
def createUrl(name):
    name=name.replace("(","").replace(")","")
    urlPre="https://www.topuniversities.com/universities/"
    url=urlPre+str.lower(name).replace(" ", "-").replace("-of-","-").replace(",","")    
    return url

In [96]:
createUrl("Nanyang Technological University, Singapore (NTU)")

'https://www.topuniversities.com/universities/nanyang-technological-university-singapore-ntu'

In [84]:
#massachusetts-institute-technology-mit#wurs

In [91]:
#massachusetts-institute-of-technology-mit